{% extends 'main.html' %}
{% load static %}

{% block content %}
    <main id="main">

        <section id="resume" class="resume">
            <div class="container">

                <div class="section-title">
                    <h2>Resume</h2>

                </div>

                <div class="row">
                    <h4 class="text-center m-3">ACADEMIC EDUCATION</h4>
                    <div class="col-lg-4" data-aos="fade-up">
                        <h5>Certificate name</h5>
                        <h5>Year</h5>
                        <h5>Institution</h5>
                        <h5>Grade</h5>
                        <h5>Short Description</h5>

                    </div>
                    <div class="col-lg-4" data-aos="fade-up">
                        <h5>Certificate name</h5>
                        <h5>Year</h5>
                        <h5>Institution</h5>
                        <h5>Grade</h5>
                        <h5>Short Description</h5>

                    </div>
                    <div class="col-lg-4" data-aos="fade-up">
                        <h5>Certificate name</h5>
                        <h5>Year</h5>
                        <h5>Institution</h5>
                        <h5>Grade</h5>
                        <h5>Short Description</h5>

                    </div>

                </div>
                <div class="row ">
                    <h4 class="text-center m-5">JOB EXPERIENCE</h4>
                    <div class="col-lg-4" data-aos="fade-up">
                        <h6>Position</h6>
                        <h6>Year</h6>
                        <h6>Organization</h6>
                        <h6>Duties & Responsibility</h6>
                        <h6>Achievement</h6>
                        <h6>Related Documents</h6>

                    </div>
                    <div class="col-lg-4" data-aos="fade-up">
                        <h6>Position</h6>
                        <h6>Year</h6>
                        <h6>Organization</h6>
                        <h6>Duties & Responsibility</h6>
                        <h6>Achievement</h6>
                        <h6>Related Documents</h6>


                    </div>
                    <div class="col-lg-4" data-aos="fade-up">
                        <h6>Position</h6>
                        <h6>Year</h6>
                        <h6>Organization</h6>
                        <h6>Duties & Responsibility</h6>
                        <h6>Achievement</h6>
                        <h6>Related Documents</h6>


                    </div>
                    <div class="col-lg-4 mt-5" data-aos="fade-up">
                        <h6>Position</h6>
                        <h6>Year</h6>
                        <h6>Organization</h6>
                        <h6>Duties & Responsibility</h6>
                        <h6>Achievement</h6>
                        <h6>Related Documents</h6>


                    </div>
                    <div class="col-lg-4 mt-5" data-aos="fade-up">
                        <h6>Position</h6>
                        <h6>Year</h6>
                        <h6>Organization</h6>
                        <h6>Duties & Responsibility</h6>
                        <h6>Achievement</h6>
                        <h6>Related Documents</h6>


                    </div>
                    <div class="col-lg-4 mt-5" data-aos="fade-up">
                        <h6>Position</h6>
                        <h6>Year</h6>
                        <h6>Organization</h6>
                        <h6>Duties & Responsibility</h6>
                        <h6>Achievement</h6>
                        <h6>Related Documents</h6>


                    </div>

                </div>
                <div class="row ">
                    <h4 class="text-center m-5">PROFESSIONAL EXPERIENCE</h4>
                    <div class="col-lg-4" data-aos="fade-up">
                        <h6>Heading</h6>
                        <h6>Working Field</h6>
                        <h6>Expertise Details</h6>
                        <h6>Learning Details</h6>
                        <h6>Experience</h6>


                    </div>
                    <div class="col-lg-4" data-aos="fade-up">
                        <h6>Heading</h6>
                        <h6>Working Field</h6>
                        <h6>Expertise Details</h6>
                        <h6>Learning Details</h6>
                        <h6>Experience</h6>


                    </div>
                    <div class="col-lg-4" data-aos="fade-up">
                        <h6>Heading</h6>
                        <h6>Working Field</h6>
                        <h6>Expertise Details</h6>
                        <h6>Learning Details</h6>
                        <h6>Experience</h6>


                    </div>
                    <div class="col-lg-4 mt-5" data-aos="fade-up">
                        <h6>Heading</h6>
                        <h6>Working Field</h6>
                        <h6>Expertise Details</h6>
                        <h6>Learning Details</h6>
                        <h6>Experience</h6>


                    </div>
                    <div class="col-lg-4 mt-5" data-aos="fade-up">
                        <h6>Heading</h6>
                        <h6>Working Field</h6>
                        <h6>Expertise Details</h6>
                        <h6>Learning Details</h6>
                        <h6>Experience</h6>


                    </div>
                    <div class="col-lg-4 mt-5" data-aos="fade-up">
                        <h6>Heading</h6>
                        <h6>Working Field</h6>
                        <h6>Expertise Details</h6>
                        <h6>Learning Details</h6>
                        <h6>Experience</h6>


                    </div>

                </div>
                <div class="row ">
                    <h4 class="text-center m-5">TRAINING & NON-ACADEMIC STUDY</h4>
                    <div class="col-lg-4" data-aos="fade-up">
                        <h6>Heading</h6>
                        <h6>Organization/Self</h6>
                        <h6>Duration Time</h6>
                        <h6>Learning Details</h6>
                        <h6>Application Details</h6>


                    </div>
                    <div class="col-lg-4" data-aos="fade-up">
                        <h6>Heading</h6>
                        <h6>Organization/Self</h6>
                        <h6>Duration Time</h6>
                        <h6>Learning Details</h6>
                        <h6>Application Details</h6>


                    </div>
                    <div class="col-lg-4" data-aos="fade-up">
                        <h6>Heading</h6>
                        <h6>Organization/Self</h6>
                        <h6>Duration Time</h6>
                        <h6>Learning Details</h6>
                        <h6>Application Details</h6>


                    </div>
                    <div class="col-lg-4 mt-5" data-aos="fade-up">
                        <h6>Heading</h6>
                        <h6>Organization/Self</h6>
                        <h6>Duration Time</h6>
                        <h6>Learning Details</h6>
                        <h6>Application Details</h6>


                    </div>
                    <div class="col-lg-4 mt-5" data-aos="fade-up">
                        <h6>Heading</h6>
                        <h6>Organization/Self</h6>
                        <h6>Duration Time</h6>
                        <h6>Learning Details</h6>
                        <h6>Application Details</h6>


                    </div>
                    <div class="col-lg-4 mt-5" data-aos="fade-up">
                        <h6>Heading</h6>
                        <h6>Organization/Self</h6>
                        <h6>Duration Time</h6>
                        <h6>Learning Details</h6>
                        <h6>Application Details</h6>


                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-md-6 mt-4">
                        <h4 class="mb-5">Topic/Group/Heading</h4>
                        <div class="row">
                            <div class="col-md-6">
                            <p>Topic-1</p>
                            <p>Topic-2</p>
                            <p>Topic-3</p>
                            <p>Topic-4</p>
                        </div>
                        <div class="col-md-6">
                            <div class="progress mt-2">
                                <div class="progress-bar progress-bar " role="progressbar"
                                     aria-label="Default striped example" style="width: 10%" aria-valuenow="80"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progress mt-4">
                                <div class="progress-bar progress-bar" role="progressbar"
                                     aria-label="Default striped example" style="width: 10%" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progress mt-4">
                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                     aria-label="Default striped example" style="width: 10%" aria-valuenow="10"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progress mt-4">
                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                     aria-label="Default striped example" style="width: 10%" aria-valuenow="10"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        </div>

                    </div>
                   <div class="col-md-6 mt-4">
                        <h4 class="mb-5">Topic/Group/Heading</h4>
                        <div class="row">
                            <div class="col-md-6">
                            <p>Topic-1</p>
                            <p>Topic-2</p>
                            <p>Topic-3</p>
                            <p>Topic-4</p>
                        </div>
                        <div class="col-md-6">
                            <div class="progress mt-2">
                                <div class="progress-bar progress-bar " role="progressbar"
                                     aria-label="Default striped example" style="width: 10%" aria-valuenow="80"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progress mt-4">
                                <div class="progress-bar progress-bar" role="progressbar"
                                     aria-label="Default striped example" style="width: 10%" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progress mt-4">
                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                     aria-label="Default striped example" style="width: 10%" aria-valuenow="10"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progress mt-4">
                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                     aria-label="Default striped example" style="width: 10%" aria-valuenow="10"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Resume Section -->

    </main><!-- End #main -->
{% endblock %}
